---
layout: default
---
{% block content %}
<div id="main">
	<div class="box container">
		<article class="post">
		    <header>
		        <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
		        {% if page.subtitle %}
		        	<p>{{ page.subtitle }}</p>
		        {% endif %}
		    </header>
		    
		    {{ page.content }}
		    
		    <footer>    
		        <p>
		        	Posted by <strong>{{ site.author.name }}</strong> on
		        	<time pubdate="pubdate">{{ page.date | date('Y-m-d') }}</time>
		        </p>
		        
		        {% if page.categories | length > 0 or page.tags | length > 0 %}
		        <ul class="defaul"t>
		            {% if page.tags | length > 0 %}
		                <li>
		                    <i class="fa fa-tags"></i>
		                    {{ page.tags | join(', ') }}
		                </li>
		            {% endif %}
		            {% if page.categories | length > 0 %}
		                <li>
		                    <i class="fa fa-folder"></i>
		                    {{ page.categories | join(', ') }}
		                </li>
		            {% endif %}
		        </ul>
		        {% endif %}
		    </footer>

			{% if (page.comments is defined and page.comments) or (page.comments is not defined and site.comments.enabled) %}
			<section>
				<h3>Comments</h3>
				<div id="disqus_thread"></div>
				<noscript>
					Please enable JavaScript to view the
					<a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
				</noscript> 
				<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
			</section>
			{% endif %}
		</article>
	</div>
</div>
{% endblock %}

{% block javascript %}
	{% if (page.comments is defined and page.comments) or (page.comments is not defined and site.comments.enabled) %}
		<script type="text/javascript">
		    var disqus_shortname = '{{ site.comments.disqus_shortname }}';
		    
		    (function() {
		        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		    })();
		</script>
	{% endif %}
{% endblock %}
